@font-face {
  font-family: 'YekanBakh';
  src: url('../public/fonts/IRANSansXV.woff2') format('woff2');
  font-weight: normal;
}


body {
  font-family: 'YekanBakh';
  background: #f7f7f7;
  padding: 0;
  margin: 0;
}

.image-article{
  width: 240px;
  height: auto;
  border-radius: 16px;
  margin-bottom: 16px;
}

a{
  text-decoration: none;
}